<div class="love-mail">
    <div class="wrapper-img">
        <div class="img-love-mail">
            <div class="_img_"></div>
            <div class="wrapper-hide ">
                <label class="w-100 text-center custom-text">Ingresá acá y enviá un dulce regalo a esa persona</label>
                <label class="w-100 text-center custom-text">especial. Se rifarán 150 envíos gratis </label>
                <label class="w-100 text-center custom-text">entre quienes participen.</label>
                <div class="text-center mt-lg-4 mt-1" >
                    <button mat-raised-button class="btn-want-know" (click)="openModal()">Quiero saber más</button>
                </div>
            </div>
        </div>
    </div>
</div>