<div class="sweet-love position-relative">
    <div class="wrapper-img">
        <div class="img-sweet-love">
            <div class="_img_"></div>
            <div class="wrapper-hide ">
                <label class="w-100 text-center custom-text">¿Buscás el amor? ¡Te ayudamos a encontrarlo! </label>
                <label class="w-100 text-center custom-text">Contanos de vos y te ayudamos a encontrar el match</label>
                <label class="w-100 text-center custom-text">perfecto. Entre las personas que participen se</label>
                <label class="w-100 text-center custom-text">estarán rifando increíbles premios.</label>
                <div class="text-center mt-lg-4 mt-1">
                    <button mat-raised-button class="btn-want-know" (click)="openModal()">Quiero saber más</button>
                </div>
            </div>
        </div>

    </div>
</div>