@import './assets/scss/_variables.scss';
@import './assets/scss/fonts.scss';
@import './assets/scss/modals.scss';


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}